*newForm{
font-family: sans-serif;
}
@media (min-width:576px) and (max-width:767px){
    
        
    }


    #newForm{
        width: 100%;
        margin: 1% 0% 0% 0%;
    }

#newForm {
  display:flex;
  flex-direction:column;
  width: 500px;
  margin: 1% 0% 0% 30%;
  border: 0.6px solid grey;
  padding: 10px;
  box-shadow: 2px -3px 80px grey;
  border-radius: 5px;
}
.logo h1{
    color: orange;
    font-size: 30px;
    margin-bottom: 20px;
}
#newForm h1{

    text-align: center;
    text-decoration: underline 6px solid green;
}
#newForm label{
    margin: 10px 0px 15px 0px;
}
#newForm button{
    margin: 20px 0px 15px 0px;
    border:none;
    background-color: black;
    color:white;
    padding: 8px;
}
#newForm input{
    padding: 7px;
    border: 0.7px solid gray;
    border-radius: 7px;
}
#newForm button:hover{
    background-color: white;
    color: black;
    border-radius: 7px;
}
#newForminput{
    padding: 7px;
    border: 0.7px solid grey;
    border-radius: 7px;

}